<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<form action="/addparty-formdata" method="post"> 
			<input type="text" placeholder="Party name" name="partyName">
			<br>
			<input type="text" placeholder="first name" name="owner_first">
			<br>
			<input type="text" placeholder="last name" name="owner_last">
			<br>
			<input type="text" placeholder="id" name="owner_id">
			<br>
			<input type="text" placeholder="location" name="location">
			<br>
			<input type="text" placeholder="slug" name="slug">
			<br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>