<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
	  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
 		 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class = "container">
		<h1>Create a party</h1>
		<form action="/addparty-formdata" method="post"> 
			<input type="text" placeholder="Party name" name="partyName">
			<br>
			<input type="text" placeholder="first name" name="owner_first">
			<br>
			<input type="text" placeholder="last name" name="owner_last">
			<br>
			<input type="text" placeholder="id" name="owner_id">
			<br>
			<input type="text" placeholder="location" name="location">
			<br>
			<input type="text" placeholder="slug" name="slug">
			<br>
			<button type="submit" class = "btn btn-primary">Submit</button>
		</form>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>