<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CollabLists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/front.css">
</head>
<body>

  <div id="wrap">
    <div id="top">
        <h1 id="main-title">CollabLists</h1>
        <h3 id="main-description">Because life is too short for bad music.</h3>
        <br>
        <br>
        <br>
        <div class="text-center">
          <a href="/addparty"><button class="btn btn-success">Throw a party!</button></a>
          <a href="/totalbs"><button class="btn btn-info">Sign up</button></a>
        </div>
    </div>

    <div id="middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="ion-ios7-people" id="people-icon"></i>
            <h4>Collaborative</h4>
            <p>CollabLists is built for collaboration. Share your party link with your friends and start making awesome playlists!</p>
          </div>
          <div class="col-md-4">
            <i class="ion-speedometer" id="fast-icon"></i>
            <h4>Fast</h4>
            <p>We use Socket.IO to deliver live playlist updates. See the changes your friends make without refreshing your browser!</p>
          </div>
          <div class="col-md-4">
            <i class="ion-music-note" id="rdio-icon"></i>
            <h4>Rdio</h4>
            <p>CollabLists uses Rdio to play music. A popular music service with over 20 million songs, Rdio ensures that CollabList users have lots of music to choose from!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="footer">
    <hr>
    <p>Made with <i class="ion-heart" id="heart-icon"></i>.</p>
    <p>Powered by <a href="http://rdio.com">Rdio</a>.</p>
  </div>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>