<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CollabLists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../css/style.css">
</head>
<body>

  <div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>CollabLists</b></a>
        </div>
      </div>
    </nav>

    <div class="container">
      <i class="ion-search" id="search-icon"></i>
      <input type="text" id="search-input" placeholder="Search for songs">
      <div id="results">
        
      </div>

    <div id="apiswf"></div>
    <div id="buttons">
      <button id="play" class="btn btn-default">Start <i class="ion-play"></i></button>
      <button id="pause" class="btn btn-default">Pause <i class="ion-pause"></i></button>
      <button id="next" class="btn btn-default">Force Skip <i class="ion-skip-forward"></i></button>
    </div>

    <div id="playlist"></div>

    </div>
  </div>

  <div class="container" id="footer">
    <hr>
    <p>Made with <i class="ion-heart" id="heart-icon"></i>.</p>
    <p>Powered by <a href="http://rdio.com">Rdio</a>.</p>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="./../js/rdio.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="./../js/collablists.js"></script>
</body>
</html>
